{% extends 'layout.html.twig' %}
{% block content %}
<h3>Recherche de produits</h3>
<form action="{{ path('viweb_sylius_product_bridge_search') }}" method="get">
    <input type="text" name="term" placeholder="recherche">
    <button type="submit">Rechercher</button>
</form>
<h2> main menu</h2>
{{ knp_menu_render('main') }}

{% for p in category.products %}
    {% if p.translation.name|length %}
       <div>
           <a href="{{ path('viweb_sylius_product_bridge_single_product', {'id': p.id}) }}">{{ p.translation.name }}</a>
           <img src="http://placehold.it/350x350" />
       </div>
    {% endif %}
{% else %}
    <p>Aucun produits dans la catégorie demandée</p>
{% endfor %}
{% endblock %}