{% extends 'layout.html.twig' %}
{% block content %}
<h3>Recherche de produits</h3>
<form action="{{ path('viweb_sylius_product_bridge_search') }}" method="get">
    <input type="text" name="term" placeholder="recherche">
    <button type="submit">Rechercher</button>
</form>
<h2> main menu</h2>
{{ knp_menu_render('main') }}

    {% if product.translation.name|length %}
       <div>
           <h1>{{ product.translation.name }}</h1>
           <img src="http://placehold.it/350x350" />
       </div>
    {% endif %}
{% endblock %}